@using Microsoft.AspNetCore.Identity
@inject SignInManager<KarhanoMarket.Models.ApplicationUser> SignInManager
@inject UserManager<KarhanoMarket.Models.ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!--start header-->
<header class="top-header">
    <nav class="navbar navbar-expand align-items-center gap-4">
        <div class="btn-toggle">
            <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
        </div>
        <div class="search-bar flex-grow-1">
            <div class="position-relative">
                <input class="form-control rounded-5 px-5 search-control d-lg-block d-none" type="text" placeholder="Search">
                <span class="material-icons-outlined position-absolute d-lg-block d-none ms-3 translate-middle-y start-0 top-50">search</span>
                <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 search-close">close</span>
                <div class="search-popup p-3">
                    <div class="card rounded-4 overflow-hidden">
                        <div class="card-header d-lg-none">
                            <div class="position-relative">
                                <input class="form-control rounded-5 px-5 mobile-search-control" type="text" placeholder="Search">
                                <span class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                                <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 mobile-search-close">close</span>
                            </div>
                        </div>
                        <div class="card-body search-content">
                            <p class="search-title">Recent Searches</p>
                            <div class="d-flex align-items-start flex-wrap gap-2 kewords-wrapper">
                                <a href="javascript:;" class="kewords">
                                    <span>Angular Template</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>Dashboard</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>Admin Template</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>Bootstrap 5 Admin</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>Html eCommerce</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>Sass</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                                <a href="javascript:;" class="kewords">
                                    <span>laravel 9</span><i class="material-icons-outlined fs-6">search</i>
                                </a>
                            </div>
                            <hr>
                            <p class="search-title">Tutorials</p>
                            <div class="search-list d-flex flex-column gap-2">
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">play_circle</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Wordpress Tutorials</h5>
                                    </div>
                                </div>
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">shopping_basket</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">eCommerce Website Tutorials</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">laptop</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">Responsive Design</h5>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <p class="search-title">Members</p>

                            <div class="search-list d-flex flex-column gap-2">
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="/assets/images/avatars/01.png" width="32" height="32" class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Andrew Stark</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="/assets/images/avatars/02.png" width="32" height="32" class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Snetro Jhonia</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="/assets/images/avatars/03.png" width="32" height="32" class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">Michle Clark</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-center bg-transparent">
                            <a href="javascript:;" class="btn w-100">See All Search Results</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="navbar-nav gap-1 nav-right-links align-items-center">
            <li class="nav-item d-lg-none mobile-search-btn">
                <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">search</i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="avascript:;" data-bs-toggle="dropdown">
                    <img src="/assets/images/county/02.png" width="22" alt="">
                </a>
              
            </li>

            <li class="nav-item dropdown position-static d-md-flex d-none">
               
            </li>
            <li class="nav-item dropdown">
             
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-bs-auto-close="outside"
                   data-bs-toggle="dropdown" href="javascript:;">
                    <i class="material-icons-outlined">notifications</i>
                    <span class="badge-notify">5</span>
                </a>
                <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                    <div class="notify-list">
                     
                        
                 
                    </div>
                </div>
            </li>
            <li class="nav-item d-md-flex d-none">
                <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasCart">
                    <i class="material-icons-outlined">shopping_cart</i>
                    <span class="badge-notify">8</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <img src="/assets/images/avatars/01.png" class="rounded-circle p-1 border" width="45" height="45" alt="">
                </a>
                <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
                    <a class="dropdown-item  gap-2 py-2" href="javascript:;">
                        <div class="text-center">
                            <img src="/assets/images/avatars/01.png" class="rounded-circle p-1 shadow mb-3" width="90" height="90"
                                 alt="">
                            <h5 class="user-name mb-0 fw-bold">Hello, Jhon</h5>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                        <i class="material-icons-outlined">person_outline</i>Profile
                    </a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                        <i class="material-icons-outlined">local_bar</i>Setting
                    </a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                        <i class="material-icons-outlined">dashboard</i>Dashboard
                    </a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                        <i class="material-icons-outlined">account_balance</i>Earning
                    </a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                        <i class="material-icons-outlined">cloud_download</i>Downloads
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" asp-controller="Account" asp-action="Logout">
                        <i class="material-icons-outlined">power_settings_new</i>Logout
                    </a>
                </div>
            </li>
        </ul>

    </nav>
</header>
<!--end top header-->
<!--start sidebar-->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="/assets/images/logo-icon.png" class="logo-img" alt="">
        </div>
        <div class="logo-name flex-grow-1">
            <h5 class="mb-0">Maxton</h5>
        </div>
        <div class="sidebar-close">
            <span class="material-icons-outlined">close</span>
        </div>
    </div>
    <div class="sidebar-nav">
        <!--navigation-->
        <ul class="metismenu" id="sidenav">
            <li>
                <a asp-controller="Dashboard" asp-action="Index" >
                    <div class="parent-icon">
                        <i class="material-icons-outlined">home</i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
             
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">A</i>
                    </div>
                    <div class="menu-title">Admin</div>
                </a>
                <ul>
                    <li>
                        <a asp-controller="Companies" asp-action="Index"><i class="material-icons-outlined">arrow_right</i>Companies</a>
                    </li>
                   
                </ul>
            </li>
            <li>
                <a asp-controller="Products" asp-action="Index">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">home</i>
                    </div>
                    <div class="menu-title">Products</div>
                </a>

            </li>

            @if (User.Identity.IsAuthenticated)
            {
                var isImpersonating = User.HasClaim("IsImpersonating", "true");
                if (isImpersonating)
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="Impersonation" asp-action="StopImpersonation" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Stop Impersonation</button>
                        </form>
                    </li>
                }
                
            }
        </ul>
        <!--end navigation-->
    </div>
</aside>
<!--end sidebar-->

@* 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KarhanoMarket Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Companies" asp-action="Index">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    var isImpersonating = User.HasClaim("IsImpersonating", "true");
                    if (isImpersonating)
                    {
                        <li class="nav-item">
                            <form method="post" asp-controller="Impersonation" asp-action="StopImpersonation" class="d-inline">
                                <button type="submit" class="btn btn-link nav-link">Stop Impersonation</button>
                            </form>
                        </li>
                    }
                    <li class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
 *@